<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/dashboard" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Reliance</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">






        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Admin</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Admin</h6>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/profile">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/profile">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="https://api.whatsapp.com/send?phone=+15752506672&text=">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li>
        <div class="d-flex align-items-center justify-content-between">
          <a href="/dashboard" class="logo d-flex align-items-center">
            <span class="">Reliance</span>
          </a>
        </div>
        <br>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->


            <li class="nav-item">
              <a class="nav-link collapsed" href="/profile">
                <i class="bi bi-person"></i>
                <span>Profile</span>
              </a>
            </li><!-- End Profile Page Nav -->



            <li class="nav-item">
              <a class="nav-link collapsed" href="https://api.whatsapp.com/send?phone=+15752506672&text=">
                <i class="bi bi-envelope"></i>
                <span>Contact</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link collapsed" href="/shares">
                <i class="bi bi-cash-stack"></i>
                <span>Shares Detail </span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link collapsed" href="/withdrawal">
                <i class="bi bi-wallet2"></i>
                <span>Withdrawal</span>
              </a>
            </li>


          </ul>

        </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Admin</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin">Home</a></li>
          <li class="breadcrumb-item active">Admin</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="card">
      <div class="card-body">
        <form method="post" class="row g-3 needs-validation" target="_blank" action="/userDetails" novalidate>
          <br>
          <div class="pagetitle">
            <h1> User Details</h1>

          </div>

          <div class="row mb-3">
            <label for="mobileNumber" class="col-md-4 col-lg-3 col-form-label">Username</label>
            <div class="col-md-8 col-lg-9">
              <input name="username" type="text" class="form-control" id="mobileNumber" required>
              <div class="invalid-feedback">Please, enter Username!</div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Show</button>
          </div>
        </form><!-- End Profile Edit Form -->
        <br>


      </div>
    </div>

    <div class="card">
      <div class="card-body">
          <div class="pagetitle">
            <h1> Change QR</h1>

          </div>

          <div class="row mb-3">
            <label for="mobileNumber" class="col-md-4 col-lg-3 col-form-label">Upload Image below</label>
            <div class="col-md-8 col-lg-9">
              <form action="/upload" enctype="multipart/form-data" method="POST">
                <label for="file-upload">Select file:</label>
                <input type="file" name="file">
                <input type="submit" class="btn btn-primary mt-2" value="Submit">
                
            </form>
            </div>
          </div>
        <br>


      </div>
    </div>
    <div class="card">
        <div class="card-body">
        <form method="post" class="row g-3 needs-validation" action="/shareCredit" novalidate>
          <br>
          <div class="pagetitle">
            <h1> Share Credit</h1>

          </div>

          <div class="row mb-3">
            <label for="mobileNumber" class="col-md-4 col-lg-3 col-form-label">Username</label>
            <div class="col-md-8 col-lg-9">
              <input name="username" type="text" class="form-control" id="mobileNumber" required>
              <div class="invalid-feedback">Please, enter Username!</div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="aadhar" class="col-md-4 col-lg-3 col-form-label">Share Value</label>
            <div class="col-md-8 col-lg-9">
              <input name="shares" type="number" class="form-control" id="aadhar" placeholder="100 " required>
              <div class="invalid-feedback">Please, enter Shares Value!</div>
            </div>
          </div>


          <div class="text-center">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form><!-- End Profile Edit Form -->
        <br>


      </div>
    </div>

    
    <div class="card">
      <div class="card-body">
        <br>
        <div class="pagetitle">
          <h1> Payment Modification</h1>

        </div>
<br>
    <form method="post" class="row g-3 needs-validation" action="/updateQRNAME" novalidate>
        <div class="row mb-3">
          <label for="mobileNumber" class="col-md-4 col-lg-3 col-form-label">Update QR Name</label>
          <div class="col-md-8 col-lg-9">
            <input name="qrName" type="text" class="form-control">
          </div>
        </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>

    <form method="post" class="row g-3 needs-validation" action="/updateUPIID" novalidate>
      <div class="row mb-3">
        <label for="mobileNumber" class="col-md-4 col-lg-3 col-form-label">Update UPI ID</label>
        <div class="col-md-8 col-lg-9">
          <input name="upiId" type="text" class="form-control">    
        </div>
      </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>
        <!-- End Profile Edit Form -->
      <br>


    </div>
  </div>

    <div class="card">
      <div class="card-body">
        <form class="" action="/amountCredit" method="post">

          <div class="pagetitle">
            <h1> Amount Credit</h1>

          </div>

          <div class="row mb-3">
            <label for="holdersName" class="col-md-4 col-lg-3 col-form-label">Username</label>
            <div class="col-md-8 col-lg-9">
              <input name="username" type="text" class="form-control" id="accoholdersNameuntNumber" required>
              <div class="invalid-feedback">Please, enter username!</div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="accountNumber" class="col-md-4 col-lg-3 col-form-label">Enter Amount</label>
            <div class="col-md-8 col-lg-9">
              <input name="amount" type="number" class="form-control" id="accountNumber" required>
              <div class="invalid-feedback">Please, enter Amount!</div>
            </div>
          </div>


          <div class="text-center">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
        <br>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <form class="" action="/transactions" method="post">

          <div class="pagetitle">
            <h1> Transaction</h1>

          </div>

          <div class="row mb-3">
            <label for="tranUser" class="col-md-4 col-lg-3 col-form-label">Username</label>
            <div class="col-md-8 col-lg-9">
              <input name="username" type="text" class="form-control" id="tranUser" required>
              <div class="invalid-feedback">Please, enter username!</div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="tranPaymentType" class="col-md-4 col-lg-3 col-form-label">Payment Type</label>
            <div class="col-md-8 col-lg-9">
              <input name="paymentType" type="text" class="form-control" id="tranPaymentType" placeholder="Payment/Shares/Investment" required>
              <div class="invalid-feedback">Please, enter Payment Type!</div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="sentOrReceived" class="col-md-4 col-lg-3 col-form-label">Sent or Received</label>
            <div class="col-md-8 col-lg-9">
              <input name="sentOrReceived" type="text" class="form-control" id="sentOrReceived" placeholder="Sent/Received" required>
              <div class="invalid-feedback">Please, Payment Mode!</div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="sentOrReceivedColor" class="col-md-4 col-lg-3 col-form-label">Message Color (for Sent or Received)</label>
            <div class="col-md-8 col-lg-9">
              <input name="messageColor" type="text" class="form-control" placeholder="danger/success"  id="sentOrReceivedColor" required>
              <div class="invalid-feedback">Please, enter Message Color!</div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="amountForTran" class="col-md-4 col-lg-3 col-form-label">Amount</label>
            <div class="col-md-8 col-lg-9">
              <input name="amount" type="text" class="form-control" id="amountForTran" required>
              <div class="invalid-feedback">Please, enter Amount!</div>
            </div>
          </div>

          <div class="row mb-3">
            <label for="amountColor" class="col-md-4 col-lg-3 col-form-label">Amount Color</label>
            <div class="col-md-8 col-lg-9">
              <input name="amountColor" type="text" class="form-control" id="amountColor" placeholder="danger/success" required>
              <div class="invalid-feedback">Please, enter Amount Color!</div>
            </div>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>



  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
